
	<script>
	function initialize() {
	var mapOptions = {
	zoom: 14,
	center: new google.maps.LatLng(46.0666803918,11.1230885983)
	};

	var map = new google.maps.Map(document.getElementById('map'), mapOptions);

	var marker = new google.maps.Marker({
	position: new google.maps.LatLng(46.0666803918,11.1230885983),
	map: map
	});

	var isochrone;

	var isochroneCoords = [
	new google.maps.LatLng(46.0691511,11.123129), 
new google.maps.LatLng(46.06918,11.12488), 
new google.maps.LatLng(46.0681779,11.1269827), 
new google.maps.LatLng(46.0669817,11.1263705), 
new google.maps.LatLng(46.0655338,11.1246043), 
new google.maps.LatLng(46.0649574,11.1247171), 
new google.maps.LatLng(46.0641148,11.1224064), 
new google.maps.LatLng(46.0646771,11.1211953), 
new google.maps.LatLng(46.065405,11.1196278), 
new google.maps.LatLng(46.0666941,11.117604), 
new google.maps.LatLng(46.0681672,11.1194973), 
new google.maps.LatLng(46.0695756,11.1205325), 

	];

	isochrone = new google.maps.Polygon({
	paths: isochroneCoords,
	strokeColor: '#000',
	strokeOpacity: 0.5,
	strokeWeight: 1,
	fillColor: '#000',
	fillOpacity: 0.25
	});

	isochrone.setMap(map);

	}

	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	