
	<script>
	function initMap() {
	var mapOptions = {
	zoom: 14,
	center: new google.maps.LatLng(46.07707,11.12359)
	};

	var map = new google.maps.Map(document.getElementById('map'), mapOptions);

	var marker = new google.maps.Marker({
	position: new google.maps.LatLng(46.07707,11.12359),
	map: map
	});

	var isochrone;

	var isochroneCoords = [
	new google.maps.LatLng(46.0777938,11.1246736), 
new google.maps.LatLng(46.0773678,11.1242272), 
new google.maps.LatLng(46.0765087,11.1258553), 
new google.maps.LatLng(46.0763436,11.1250309), 
new google.maps.LatLng(46.0743682,11.1256643), 
new google.maps.LatLng(46.0729051,11.124154), 
new google.maps.LatLng(46.0746525,11.1218851), 
new google.maps.LatLng(46.0763388,11.1210861), 
new google.maps.LatLng(46.0773328,11.1203313), 
new google.maps.LatLng(46.0778278,11.1216074), 
new google.maps.LatLng(46.0806447,11.1195715), 
new google.maps.LatLng(46.0781358,11.1233866), 

	];

	isochrone = new google.maps.Polygon({
	paths: isochroneCoords,
	strokeColor: '#000',
	strokeOpacity: 0.5,
	strokeWeight: 1,
	fillColor: '#000',
	fillOpacity: 0.25
	});

	isochrone.setMap(map);

	}

	google.maps.event.addDomListener(window, 'load', initMap);
	</script>
	