
	<script>
	function initMap() {
	var mapOptions = {
	zoom: 14,
	center: new google.maps.LatLng(46.0722,11.12474)
	};

	var map = new google.maps.Map(document.getElementById('map'), mapOptions);

	var marker = new google.maps.Marker({
	position: new google.maps.LatLng(46.0722,11.12474),
	map: map
	});

	var isochrone;

	var isochroneCoords = [
	new google.maps.LatLng(46.0734798,11.1254136), 
new google.maps.LatLng(46.072572,11.1270487), 
new google.maps.LatLng(46.0724029,11.1266585), 
new google.maps.LatLng(46.0704916,11.1266883), 
new google.maps.LatLng(46.0695091,11.1266094), 
new google.maps.LatLng(46.0688268,11.1247555), 
new google.maps.LatLng(46.0694497,11.1225793), 
new google.maps.LatLng(46.0702182,11.121762), 
new google.maps.LatLng(46.07207,11.12137), 
new google.maps.LatLng(46.0744011,11.1188022), 
new google.maps.LatLng(46.0745145,11.1227048), 
new google.maps.LatLng(46.0756617,11.1246467), 

	];

	isochrone = new google.maps.Polygon({
	paths: isochroneCoords,
	strokeColor: '#000',
	strokeOpacity: 0.5,
	strokeWeight: 1,
	fillColor: '#000',
	fillOpacity: 0.25
	});

	isochrone.setMap(map);

	}

	google.maps.event.addDomListener(window, 'load', initMap);
	</script>
	