{% load staticfiles %}
<html>
    <head>
        <title>Isochrone</title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="{% static 'isochrone/style.css' %}" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
    </head>
    <body>
	    <div>
		    <div id="menu">
		        {% block 'menu' %}
                {% endblock %}
		    </div>

			<div id="map"></div>
		</div>

        {% block 'body' %}
        {% endblock %}
    <body>
</html>
