<form action="#" method="get">
    <br>
    <h3>Coordinates</h3>
    <div id="menu-part">
        Latitude: 
        <input type="text" name="latitude" id="latitude" value="empty" readonly="readonly">
        <br>
        Longitude:
        <input type="text" name="longitude" id="longitude" value="empty" readonly="readonly">
    </div>
    <br>
    <h3> General settings</h3>
    <div id="menu-part">
        <div>
            Select travel duration [minutes]:
            <input type="range" id="slider" name="duration" min="5" max="20" value="5" step="5" oninput="amount_duration.value=duration.value">
            <output name="amount_duration" id="slider" for="duration" >5</output>
        </div>
        <div>
            Select travel mode:
            <input type="radio" name="travelMode" id="walking" value="walking" checked>
            <label for="walking">Walking</label>
            <input type="radio" name="travelMode" id="driving" value="driving">
            <label for="driving">Driving</label>
        </div>
    </div>
    <br>
    <h3>Advanced settings</h3>
    <div id="menu-part">
        Select number of angles
        <input type="range" id="angles" name="angles" min="12" max="48" value="12" step="12" oninput="amount_angles.value=angles.value">
        <output name="amount_angles" id="amount_angles" for="angles">12</output>
        <br>
        Select tolerance
        <input type="range" id="tolerance" name="tolerance" min="0.1" max="1.0" value="0.1" step="0.1" oninput="amount_tolerance.value=tolerance.value">
        <output name="amount_tolerance" id="amount_tolerance" for="tolerance">0.1</output>
    </div>
    <br>
    <div id="centered">
        <input type="submit" id="button" value="Compute Isochrone" name="calculate">
    </div>
</form>